*{
  margin:0;
  padding:0;
}


body {
  font-family: 'Merriweather', serif;
  backgroud-color:#f9fafc;

}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}
.navbar__brand {
  width:100px;
color: E76161;
}
.nav__item {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
    );
color:#ff;
border:none;
padding: 12px;
border-radius: 6px;
font-weight: 600;

}
.nav__item:hover{
border:2px solid #FF6767;

}
@media (min-width:768px) {
  .navbar{
    justify-content: space-between;
    padding: 10px 30px;
  }
}
@media (min-width:1024px){
  .navbar__brand{
width:150px;
  }
  .nav__item{
    padding:20px;
  }
}
